/CarShop.DataAccess/obj
/CarShop.DataAccess/bin
/CarShop.Models/bin
/CarShop.Models/obj
/CarShop.BusinessLogic/bin
/CarShop.BusinessLogic/obj
/CarShop.UserInterface/obj
/CarShop.UserInterface/bin
/CarShop.UserInterface/App_Data
/packages
/TestDAL
/bin
/.vs
